.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.size-medium {
        padding: 8px 12px; 
        font-size: 14px;
    }
    &.size-large {
        padding: 12px 16px;
        font-size: 16px;
    }
    &.secondary {
        background-color: #f8f8f8;
        color: #000;
        &:hover {
            background-color: #f0f0f0;
        }
    }
    &.full-width {
        width: 100%;
    }
    &.disabled {
        background-color: #eaeaea;
        pointer-events: none;
    }
    &:hover {
        background-color: #202020;
    }
}