.address-widget-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    flex-shrink: 1;
    flex-basis: 40%;
    flex-grow: 1;
    min-width: fit-content;
    .address-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .label {
            font-size: 14px;
            font-weight: 500;
            color: #606060;
        }
        .value {
            font-size: 16px;
            font-weight: 500;
            color: #202020;
        }
    }
}
