.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 10;
    inset: 0;
    backdrop-filter: blur(4px);
    .dialog-container {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color: white;
        border: 1px solid #e1e1e1;
        border-radius: 12px;
        gap: 16px;
        max-height: 80vh;
        overflow: auto;
        @media (max-width: 660px) {
            width: 94vw;
        }
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 44px;
            .header-title {
                display: flex;
                gap: 12px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}