.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .input-wrap {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex-grow: 1;
        .label {
            font-size: 12px;
            font-weight: 400;
            color: #606060;
        }
        .input {
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #e1e1e1;
            padding: 8px 12px;
            border-radius: 4px;
            outline-color: black;
        }
        .chip-selection-wrapper {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            .chip {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                padding: 6px 8px;
                flex-grow: 1;
                min-width: max-content;
                background-color: #f0f0f0;
                color: #606060;
                font-size: 14px;
                cursor: pointer;
                transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
                &:hover {
                    transform: translateY(-2px); 
                    transition-delay: 0s;
                }
                &.selected {
                    background-color: #000;
                    color: #fff;
                    font-weight: 500;
                }
                &.completed-state {
                    background-color: #d3f8e4;
                    color: #18ac5a;
                    font-weight: 500;
                }
                &.pending-state {
                    background-color: #ffedbf;
                    color: #ae7f0a;
                    font-weight: 500;
                }
            }
        }
    }
}